# This must be sourced before trying to build anything.
# You can use direnv to automatically source this when entering the repo, see the documentation.

export DRAGONFLY_ROOT_PATH="$(dirname "$(realpath "${BASH_SOURCE[0]}")")"
export DRAGONFLY_SCRIPT_UTILS="${DRAGONFLY_ROOT_PATH}/scripts/script_utils.sh"

export DOCKER_BUILD_IMAGE_NAME="dragonfly-build"